# Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

# OTA
allow platform_app cache_file:dir rw_dir_perms;
allow platform_app cache_recovery_file:dir rw_dir_perms;
allow platform_app cache_recovery_file:file create_file_perms;
allow platform_app ota_package_file:file create_file_perms;
allow platform_app ota_package_file:dir rw_dir_perms;
