type hal_wifi_ext, domain;
hal_server_domain(hal_wifi_ext, hal_wifi)

type hal_wifi_ext_exec, exec_type, file_type;
init_daemon_domain(hal_wifi_ext)

# Allow to start the IWifi:wifi_ext service
add_hwservice(hal_wifi_ext, hal_wifi_ext_hwservice);

# Others
allow hal_wifi_ext vendor_tombstone_data_file:dir rw_dir_perms;
allow hal_wifi_ext wifihal_socket:dir rw_dir_perms;