# LiveDisplay
type lineage_hardware_service, system_api_service, system_server_service, service_manager_type;
type lineage_livedisplay_service, system_api_service, system_server_service, service_manager_type;
